<h1>Hello, <%= @user.name %></h1>

<br/>
<div>
  <h2>Actions</h2>
  <%= link_to 'Create Subreddit', new_subreddit_path %> |
  <%= link_to 'Find Subreddit', subreddits_path %> |
  <%= link_to 'Logout', logout_path %> |
</div>